* {
    margin: 0;
    padding: 0;
 }

.header {
    background-color: red;
    padding: 32px;
}

.container-123 > div, .container-456 > div, .container-91011 > div, .container-78 > div {
    border: 1px solid #313B3E;
    font-size: 100%;
	margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;  
}

.container-123, .container-456, .container-78, .container-91011 { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
    flex-grow: 1; 
    margin: 8px;
}

.item-1a3, .item-4a6, .item-9a11  {
    height: 100px;
    width: 50vh;       
} 

.item-7-8 {
    height: 300px;
    width: 80vh;  
    background-color: black;
    color: white;    
} 

#item1 {
    background-color: blue;
}

#item2 {
    background-color: yellow;
}

#item3 {
    background-color: green;
}



@media only screen and (max-width: 768px) {
    .container-123, .container-456, .container-78, .container-91011 { 
        width: 100%;       
    }

    .container-123 > div, .container-456 > div, .container-91011 > div, .container-78 > div { 
        width: 100%;
        margin: 16px;
    }
} 